.report_view

  %h1= @opts[:title]
  %h3 Distribution Gauge
  
  %ul.ui_tabs.tabs
    %li.active{"data-tab" => "Overview"}
      %a{:href => "#"} Overview
    %li{"data-tab" => "Overview"}
      %a{:href => "#"} Histograms
    %li{"data-tab" => "Export"}
      %a{:href => "#"} Export

  .headbar
    %h2 Histogram: #{@opts[:title]}

  .resizable.right(data-width="40" style="border-left:1px solid #ddd; height:500px;")
    .clearfix
      %h2(style="margin:20px 0 -3px 20px;") Value Distribution
      .numbers_container.resizable.numbers_pad_bottom(data-width="50")
        .number
          %span.desc Minimum
          %span.value= @histogram.min
        .number
          %span.desc Maximum
          %span.value= @histogram.max
        .number
          %span.desc Average
          %span.value= 0
        .number
          %span.desc Median
          %span.value= 0
        .number
          %span.desc Mean
          %span.value= 0
        .number
          %span.desc Mode
          %span.value= 0

    %hr

    .clearfix
      %h2(style="margin:20px 0 -3px 20px;") Standard Deviation


  .widget_histogram_bars.resizable(data-width="60")

  .resizable(data-width="60")

    .headbar.small
      Average, Min and Max over Time



:gaugejs

  FnordMetric.ui.resizable('.report_view');

  FnordMetric.widgets.barsWidget().render({
    title: "Histogram: Number of #{key_nouns.last}",
    color: "#{FnordMetric::COLORS.last}",
    elem: $('.widget_histogram_bars'),
    height: 320,
    no_headbar: true,
    values: #{@histogram.histogram(@opts[:histogram]).map{ |r,v| [r.to_s, v] }.to_json}
  });



  