.report_view

  %h1= @opts[:title]
  %h3 Distribution Gauge
  
  %ul.ui_tabs.tabs
    %li.active{"data-tab" => "Overview"}
      %a{:href => "#"} Overview
    / %li{"data-tab" => "Overview"}
    /   %a{:href => "#"} Histograms
    / %li{"data-tab" => "Export"}
    /   %a{:href => "#"} Export

  .headbar
    %h2 Histogram: #{@opts[:title]}

  .resizable.right.resize_min_full_height(data-width="40" style="border-left:1px solid #ddd;")
    .clearfix
      %h2(style="margin:20px 0 -3px 20px;") Value Distribution
      .numbers_container.resizable.numbers_pad_bottom(data-width="50")
        .number
          %span.desc Mean (Avg.)
          %span.value.ui_value{:"data-value" => @values.mean }
        .number
          %span.desc Minimum
          %span.value.ui_value{:"data-value" => @values.min }
        .number
          %span.desc Maximum
          %span.value.ui_value{:"data-value" => @values.max }
        .number
          %span.desc Median
          %span.value.ui_value{:"data-value" => @values.median }
        .number
          %span.desc Range
          %span.value.ui_value{:"data-value" => @values.range }
        .number
          %span.desc Mode
          %span.value.ui_value{:"data-value" => @values.mode }

    %hr

    .clearfix
      %h2(style="margin:20px 0 -3px 20px;") Standard Deviation


  .resizable(data-width="60")
    .widget_histogram_bars

    %div(style="margin-top:10px;")

      .headbar.small
        Mean, Min and Max over Time



:gaugejs

  FnordMetric.ui.resizable('.report_view');
  FnordMetric.util.format('.report_view');

  FnordMetric.widgets.barsWidget().render({
    title: "Histogram: Number of #{key_nouns.last}",
    color: "#{FnordMetric::COLORS.last}",
    elem: $('.widget_histogram_bars'),
    height: 320,
    no_headbar: true,
    values: #{@histogram.json_histogram([12, @histogram.max || 1].min)}
  });



  