.report_view

  %h1= @opts[:title]
  %h3 Distribution Gauge
  
  %ul.ui_tabs.tabs
    %li.active{"data-tab" => "Overview"}
      %a{:href => "#"} Overview


  .widget_histogram_bars.resizable(data-width="80")

  .resizable(data-width="20")
    .headbar
    .clearfix
      .numbers_container
        .number
          %span.desc Minimum
          %span.value= @histogram.min
        .number
          %span.desc Maximum
          %span.value= @histogram.max
    .clearfix
      .numbers_container
        .number
          %span.desc Average
          %span.value= 0
        .number
          %span.desc Median
          %span.value= 0

    .clearfix
      .numbers_container
        .number
          %span.desc Mean
          %span.value= 0
        .number
          %span.desc Mode
          %span.value= 0


:gaugejs

  FnordMetric.ui.resizable('.report_view');

  FnordMetric.widgets.barsWidget().render({
    title: "Histogram: Number of #{key_nouns.last}",
    color: "#{FnordMetric::COLORS.last}",
    elem: $('.widget_histogram_bars'),
    height: 320,
    values: #{@histogram.histogram(@opts[:histogram]).map{ |r,v| [r.to_s, v] }.to_json}
  });



  