.report_view

  %h1= @opts[:title]
  %h3 Toplist Gauge

  %ul.ui_tabs.toplgauge_tabs
    %li.active{"data-tab" => "Overview", :onclick=>"toplgaugeTabClick.apply(this);"}
      %a{:href => "#"} Overview
    / %li{"data-tab" => "Compate"}
    /   %a{:href => "#"} Compare
    %li{"data-tab" => "Trending", :onclick=>"toplgaugeTabClick.apply(this);"}
      %a{:href => "#"} Trending
    / %li{"data-tab" => "Export"}
    /   %a{:href => "#"} Export



  .widget_toplist.ui_sidebar_toplist.resizable.resize_min_full_height(data-width="55")
    
    .toplgauge_tab.overview
      .headbar
        %h2 Top #{key_nouns.last}
      .ui_toplist.clickable
        .searchbar
          %input(type="search" placeholder="Search..." style="width:95%; margin-top:1px; height:36px; line-height:36px;")
        - @toplist.toplist.each do |item, score|
          .toplist_item(onclick="toplgaugeSelectItem.apply(this); return false;" data-item="#{item}")
            .title= item
            .value= score
            .percent
              = @toplist.percentage(item).round(1).to_s + "%"
              %span.ui_trend{ :"data-trend" => @toplist.trend(item).round(1) }
              

    .toplgauge_tab.trending(style="display:none;")
      .headbar
        %h2 Trending #{key_nouns.last}

      .ui_toplist.clickable
        .toplist_item(onclick="toplgaugeSelectItem.apply(this); return false;" data-item="stoff")
          .title stoff
          .value= @toplist.value("stoff").to_s + " / " + @toplist.percentage("stoff").round(1).to_s + "%"

          .trend
            %span.ui_trend(data-trend="2.3")


  .widget_keystats.resize_full_height.resizable(data-width="45")
    .empty_state.resize_full_height
      .headbar

      %div(style="font-weight:bold; font-size:16px; color:#aaa; text-align:center; margin-top:50%;")
        %i.icon.icon-arrow-left
        &nbsp; Please select something


    .keystats(style="display:none;")
      .widget_item_timeseries

      .headbar.small Totals
      %div
        .numbers_container
          .title= "Fnord"

          .number{:data => 23, :"data-current" => 0}
            %span.desc Total
            %span.value 0



:gaugejs

  FnordMetric.util.updateNumbers('.report_view', 4);

  FnordMetric.ui.trends('.report_view');
  FnordMetric.ui.resizable('#viewport');

  FnordMetric.widgets.timeseriesWidget().render({
    title: "",
    elem: $('.widget_item_timeseries'),
    height: 320,
    default_style: 'line',
    series: [{
      name: "Fnord",
      color: "#{FnordMetric::COLORS.last}",
      data: [{x:0, y:0},{x:1, y:0}]
    }]
  });


:javascript

  function toplgaugeSelectItem(){
    $(this).addClass('active')
      .siblings().removeClass('active');
  }

  function toplgaugeTabClick(){
    if($(this).attr('data-tab') == "Overview"){
      $('.toplgauge_tab').hide().filter('.overview').show();
    } else if($(this).attr('data-tab') == "Trending"){
      $('.toplgauge_tab').hide().filter('.trending').show();
    }

    $('.toplgauge_tabs li').removeClass('active');
    $(this).addClass('active');
  }












  function toplgaugeDisplayOverview(){
    $(".toplgauge_tab").hide().filter(".overview").show();
    $(".toplgauge_tabs li").removeClass('active').filter(".overview").addClass('active');
    $(".toplgauge_widget_topx_timeline").show();
    $(".toplgauge_keysearch").hide();
    $(".toplgauge_widget_topx_toplist").show();
  }

  function toplgaugeDisplayDistribution(){
    $(".toplgauge_tab").hide().filter(".distribution").show();
    $(".toplgauge_tabs li").removeClass('active').filter(".distribution").addClass('active');
    $(".toplgauge_widget_topx_distribution").html("");

    $(".toplgauge_keysearch").hide();
      FnordMetric.widgets.barsWidget().render({
      elem: $(".toplgauge_widget_topx_distribution"),
      gauges: ["#{name}++count"],
      gauge_titles: {"#{name}++count": "Fnord"},
      title: "#{key_nouns.first} Distribution"
    });
  }


  function toplgaugeDisplayPerKeyOverview(){
    $(".toplgauge_tabs li").removeClass('active').filter(".per_key").addClass('active');
    $(".toplgauge_tab").hide().filter(".overview").show();
    $(".toplgauge_widget_topx_timeline").hide();
    $(".toplgauge_keysearch").show();
    $(".toplgauge_widget_topx_toplist").show();
  }

  function toplgaugeDisplayPerKey(key){
    $('.toplgauge_widget_perkey_timeline').html('');
    $(".toplgauge_tabs li").removeClass('active').filter(".per_key").addClass('active');
    $(".toplgauge_tab").hide().filter(".per_key").show();
    $(".toplgauge_keysearch").hide();

    
    var _gkey = "#{name}++series-"+key;
    var _gtitles = {};
    _gtitles[_gkey] = key;

    FnordMetric.widgets.timelineWidget().render({
      elem: $(".toplgauge_widget_perkey_timeline"),
      gauges: [_gkey],
      gauge_titles: _gtitles,
      title: "#{key_nouns.first}: " + key
    });
  }



  