.report_view

  %h1= @opts[:title]
  %h3 Toplist Gauge

  %ul.ui_tabs.tabs
    %li.active{"data-tab" => "Overview"}
      %a{:href => "#"} Overview
    / %li{"data-tab" => "Compate"}
    /   %a{:href => "#"} Compare
    / %li{"data-tab" => "Trending"}
    /   %a{:href => "#"} Trending
    / %li{"data-tab" => "Export"}
    /   %a{:href => "#"} Export


  .widget_toplist.ui_sidebar_toplist.resizable(data-width="40")
    .headbar
    .ui_toplist
      .toplist_item
        .title /matches
        .value 36
        .percent 73.5%


  .widget_keystats.resizable(data-width="60")
    .widget_item_timeseries

    .headbar.small Totals
    %div
      .numbers_container
        .title= "Fnord"

        .number{:data => 23, :"data-current" => 0}
          %span.desc Total
          %span.value 0



:gaugejs

  FnordMetric.util.updateNumbers('.report_view', 4);
  FnordMetric.ui.resizable('#viewport');

  FnordMetric.widgets.timeseriesWidget().render({
    title: "",
    elem: $('.widget_item_timeseries'),
    height: 320,
    default_style: 'line',
    series: [{
      name: "Fnord",
      color: "#0066CC",
      data: [{x:1, y:1},{x:2, y:2},{x:4, y:8},{x:6, y:32}]
    }]
  });


:javascript

  function toplgaugeDisplayOverview(){
    $(".toplgauge_tab").hide().filter(".overview").show();
    $(".toplgauge_tabs li").removeClass('active').filter(".overview").addClass('active');
    $(".toplgauge_widget_topx_timeline").show();
    $(".toplgauge_keysearch").hide();
    $(".toplgauge_widget_topx_toplist").show();
  }

  function toplgaugeDisplayDistribution(){
    $(".toplgauge_tab").hide().filter(".distribution").show();
    $(".toplgauge_tabs li").removeClass('active').filter(".distribution").addClass('active');
    $(".toplgauge_widget_topx_distribution").html("");

    $(".toplgauge_keysearch").hide();
      FnordMetric.widgets.barsWidget().render({
      elem: $(".toplgauge_widget_topx_distribution"),
      gauges: ["#{name}++count"],
      gauge_titles: {"#{name}++count": "Fnord"},
      title: "#{key_nouns.first} Distribution"
    });
  }


  function toplgaugeDisplayPerKeyOverview(){
    $(".toplgauge_tabs li").removeClass('active').filter(".per_key").addClass('active');
    $(".toplgauge_tab").hide().filter(".overview").show();
    $(".toplgauge_widget_topx_timeline").hide();
    $(".toplgauge_keysearch").show();
    $(".toplgauge_widget_topx_toplist").show();
  }

  function toplgaugeDisplayPerKey(key){
    $('.toplgauge_widget_perkey_timeline').html('');
    $(".toplgauge_tabs li").removeClass('active').filter(".per_key").addClass('active');
    $(".toplgauge_tab").hide().filter(".per_key").show();
    $(".toplgauge_keysearch").hide();

    
    var _gkey = "#{name}++series-"+key;
    var _gtitles = {};
    _gtitles[_gkey] = key;

    FnordMetric.widgets.timelineWidget().render({
      elem: $(".toplgauge_widget_perkey_timeline"),
      gauges: [_gkey],
      gauge_titles: _gtitles,
      title: "#{key_nouns.first}: " + key
    });
  }

  $('.toplgauge_tabs').bind('open_tab.per-key', function(o, a){
    toplgaugeDisplayPerKey(a);
  });

  