!!!	
%html

  %head
    %title Fnordmetric Dashboard
    %script(type="text/javascript" src="#{path_prefix}/jquery-1.6.1.min.js")
    %link(type="text/css" rel="stylesheet" href="#{path_prefix}/fnordmetric/fnordmetric.css")
    %script(type="text/javascript" src="#{path_prefix}/fnordmetric/fnordmetric.js")
    :javascript
      FnordMetric.p = '#{path_prefix}';

  %body
    .topbar

    #wrap
      #tabs
        %ul
          %li.active{:rel => "_sessions"}
            .picto.piechart
            Active Users

          -current_namespace.dashboards.each do |key,dashboard|
            %li{:rel => dashboard.token}
              .picto.piechart
              =h dashboard.title

      #viewport
        .viewport_inner.clearfix
            

:javascript
  $(document).ready(function(){

    FnordMetric.init('#{current_namespace.token}', $('.viewport_inner'));

    $('#tabs li').click(function(){
      //document.location.href = '#{path_prefix}/dashboard/' + $(this).attr('rel');
      alert(1);
    });

    function resizeViewport(){ 
      var viewport_width = window.innerWidth-220
      $('#viewport').width(viewport_width); 
      FnordMetric.resizeView();
    }
    resizeViewport();
    $(window).resize(resizeViewport);

  });



