!!!
%html

  %head
    %title= "FnordMetric"
    %script(type="text/javascript" src="#{path_prefix}/vendor/jquery-1.6.1.min.js")
    %script(type="text/javascript" src="#{path_prefix}/vendor/highcharts.js")
    %script(type="text/javascript" src="#{path_prefix}/vendor/raphael.min.js")
    %script(type="text/javascript" src="#{path_prefix}/vendor/raphael.util.js")
    %script(type="text/javascript" src="#{path_prefix}/fnordmetric.js")
    %script(type="text/javascript" src="#{path_prefix}/fnordmetric.util.js")
    %script(type="text/javascript" src="#{path_prefix}/fnordmetric.ui.js")
    %script(type="text/javascript" src="#{path_prefix}/fnordmetric.timeline_widget.js")
    %script(type="text/javascript" src="#{path_prefix}/fnordmetric.numbers_widget.js")
    %script(type="text/javascript" src="#{path_prefix}/fnordmetric.bars_widget.js")
    %script(type="text/javascript" src="#{path_prefix}/fnordmetric.pie_widget.js")
    %script(type="text/javascript" src="#{path_prefix}/fnordmetric.toplist_widget.js")
    %script(type="text/javascript" src="#{path_prefix}/fnordmetric.html_widget.js")
    %script(type="text/javascript" src="#{path_prefix}/fnordmetric.overview_view.js")
    %script(type="text/javascript" src="#{path_prefix}/fnordmetric.gauge_view.js")
    %script(type="text/javascript" src="#{path_prefix}/fnordmetric.dashboard_view.js")
    %script(type="text/javascript" src="#{path_prefix}/fnordmetric.session_view.js")
    %link(type="text/css" rel="stylesheet" href="#{path_prefix}/fnordmetric.css")

%body
:javascript
  $(document).ready(function(){
    FnordMetric.init($('body'), 'ws://localhost:4243');
  });



