!!!	
%html

  %head
    %title Fnordmetric Dashboard
    %script(type="text/javascript" src="#{path_prefix}/jquery-1.6.1.min.js")
    %link(type="text/css" rel="stylesheet" href="#{path_prefix}/fnordmetric/fnordmetric.css")
    %script(type="text/javascript" src="#{path_prefix}/fnordmetric/fnordmetric.js")
    :javascript
      FnordMetric.p = '#{path_prefix}';

  %body
    .topbar

    #wrap
      #tabs
        %ul
          -current_namespace.dashboards.each do |key,dashboard|
            %li{:rel => dashboard.token}
              .picto.piechart
              =h dashboard.title

      #viewport
        .viewport_inner
          -unless @dashboard
            no dashboard selected
            
          -@dashboard.widgets.each do |widget|
            -elem_id = "fw#{(rand*9999).to_i}"
            %div{:id => elem_id, :style => "margin-bottom:10px;"}
            =widget.render(elem_id)
            

:javascript
  $(document).ready(function(){

    $('#tabs li').click(function(){
      document.location.href = '#{path_prefix}/dashboard/' + $(this).attr('rel');
    });

    function resizeViewport(){ 
      var viewport_width = window.innerWidth-220
      $('#viewport').width(viewport_width); 
    }
    resizeViewport();
    $(window).resize(resizeViewport);

  });



