
%ul.ui_tabs.toplgauge_tabs
  %li.active.overview
    %a(href="#" onclick="toplgaugeDisplayOverview();") Overview
  %li.per_key
    %a(href="#" onclick="toplgaugeDisplayPerKeyOverview();") Per #{key_nouns.first}
  %li
    %a(href="#") Trending


%div.toplgauge_keysearch(style="display:none;")
  .headbar
    %h2 Search for a #{key_nouns.first}
  %div(style="margin:16px;")
    here be dragons


.toplgauge_tab.overview
  %div.toplgauge_widget_topx_timeline
  %div.toplgauge_widget_topx_toplist


.toplgauge_tab.per_key(style="display:none;")
  %div.toplgauge_widget_perkey_timeline


:javascript

  function toplgaugeDisplayOverview(){
    $(".toplgauge_tab").hide().filter(".overview").show();
    $(".toplgauge_tabs li").removeClass('active').filter(".overview").addClass('active');
    $(".toplgauge_widget_topx_timeline").show();
    $(".toplgauge_keysearch").hide();
    $(".toplgauge_widget_topx_toplist").show();
  }

  function toplgaugeDisplayPerKeyOverview(){
    $(".toplgauge_tabs li").removeClass('active').filter(".per_key").addClass('active');
    $(".toplgauge_tab").hide().filter(".overview").show();
    $(".toplgauge_widget_topx_timeline").hide();
    $(".toplgauge_keysearch").show();
    $(".toplgauge_widget_topx_toplist").show();
  }

  function toplgaugeDisplayPerKey(key){
    $('.toplgauge_widget_perkey_timeline').html('');
    $(".toplgauge_tabs li").removeClass('active').filter(".per_key").addClass('active');
    $(".toplgauge_tab").hide().filter(".per_key").show();
    $(".toplgauge_keysearch").hide();

    
    var _gkey = "#{name}++series-"+key;
    var _gtitles = {};
    _gtitles[_gkey] = key;

    FnordMetric.widgets.timelineWidget().render({
      elem: $(".toplgauge_widget_perkey_timeline"),
      gauges: [_gkey],
      gauge_titles: _gtitles,
      title: "#{key_nouns.first}: " + key,
      ticks: #{@opts[:ticks].map(&:to_i).inspect},
      tick: #{@opts[:ticks].first.to_i}
    });
  }

  $('.toplgauge_tabs').bind('open_tab.per-key', function(o, a){
    toplgaugeDisplayPerKey(a);
  });