<div class="header_wrap">
  <div id="header">
    <a class="menu" href="/documentation/support">Support</a>
    <a class="menu" href="http://github.com/paulasmuth/fnordmetric" target="_blank">Github</a>
    <a class="menu" href="/download">Download</a>
    <a class="menu active" href="/documentation">Documentation</a>
    <a class="menu" href="/examples">Examples</a>
    <h1><a href="/">FnordMetric</a></h1>
  </div>
</div>

<div id="wrap" class="<%= @doc_yield ? :large : nil %>">
  <div id="documentation_wrap">
    <div id="navigation">
      <% CONFIG["documentation"].each do |topic| %>
        <a class="nav_title"><%= topic["title"] %></a>
        <ul>
          <% topic["pages"].each do |page| %>
            <li class="<%= @route == page["url"] ? :active : nil %>">
              <% if File.exists?(File.join(BASEDIR, "../documentation/#{page["file"]}.md")) %>
                <a href="/documentation<%= page["url"] %>">
                  <%= page["title"] %>
                </a>
              <% else %>
                [MISSING] <%= page["title"] %>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <div id="documentation" style="max-width: 800px; padding-bottom: 120px;">
      <p class="disclaimer">
        This is an alpha release of FnordMetric. Expect bugs and vulnerabilities.
      </p>
      <%= @doc_yield %>
    </div>

  </div>
</div>
