<div class="header_wrap">
  <div id="header">
    <a class="menu" href="/documentation/support">Support</a>
    <a class="menu" href="http://github.com/paulasmuth/fnordmetric" target="_blank">Github</a>
    <a class="menu" href="/documentation/installation">Download</a>
    <a class="menu" href="/documentation">Documentation</a>
    <a class="menu active" href="/examples">Examples</a>
    <h1><a href="/">FnordMetric</a></h1>
  </div>
</div>

<div id="wrap" class="<%= @doc_yield ? :large : nil %>">
  <div id="documentation_wrap">

    <div id="navigation">
      <% CONFIG["examples"].each_with_index do |example_group, n| %>
          <a class="nav_title">
            <%= example_group["title"] %>
          </a>
          <ul>
            <% example_group["examples"].each do |example| %>
              <li class="<%= @route == example["url"] ? :active : nil %>">
                <a href="/examples<%= example["url"] %>">
                  <%= example["title"] %>
                </a>
              </li>
            <% end %>
          </ul>
      <% end %>
    </div>

    <div id="documentation">
      <% if @route == "/index" %>
        <h1>FnordMetric Examples<h1>

        <% CONFIG["examples"].each_with_index do |example_group, n| %>
            <h2>
              <%= example_group["title"] %>
            </h2>
            <ul>
              <% example_group["examples"].each do |example| %>
                <li class="<%= @route == example["url"] ? :active : nil %>">
                  <a href="/examples<%= example["url"] %>">
                    <%= example["title"] %>
                  </a>
                </li>
              <% end %>
            </ul>
        <% end %>
      <% else %>
        <h1 style="margin:0 0 5px 0; font-weight: 400;"><%= @example["title"] %></h1>
        <p class="breadcrumb">
          <a href="/examples">
            Examples
          </a>
          &raquo;
          <a href="/examples#<%= @example["group"]["dir"] %>">
            <%= @example["group"]["title"] %>
          </a>
          &raquo;
          <a href="/examples<%= @example["url"] %>">
            <%= @example["title"] %>
          </a>
        </p>

        <div class="example_frame">
          <%= IO.read(File.join(BASEDIR, "../examples#{@example["url"]}.svg.html")) %>
        </div>

        <h3 style="margin: 1.5em 0 1em 0;">SQL source code for this example:</h2>
        <pre class="prettyprint" style="margin-top: 0;"><code><%= IO.read(File.join(BASEDIR, "../examples#{@example["url"]}.sql")) %></code></pre>

        <p>Run this example:</p>
        <% example_cmd = "$ fnordmetric-cli --format=svg examples#{@example["url"]}.sql" %>
        <pre class="prettyprint" style="margin-top: 0;"><code><%=example_cmd%></code></pre>
      <% end %>
    </div>
  </div>
</div>
